{% extends "base.html" %}
{% block title %} Обучение Python - Студент {{ student.name|title }} {{ student.surname|title }}{% endblock %}
{% block body %}
    <div class="container">
        <h2>{{ student.name }} {{ student.surname }}</h2>
        <table class="table">
            <tbody>
                <tr>
                  <td>Дата рождения</td>
                  <td>{{ student.date_of_birth|date:"d F, Y" }}</td>
                </tr>
                <tr>
                  <td>Адрес</td>
                  <td>{{ student.address }}</td>
                </tr>
                <tr>
                  <td>Почта</td>
                  <td>{{ student.email }}</td>
                </tr>
                <tr>
                  <td>Skype</td>
                  <td>{{ student.skype }}</td>
                </tr>
                <tr>
                  <td>Телефон</td>
                  <td>{{ student.phone }}</td>
                </tr>
                <tr>
                  <td>Курсы</td>
                  <td>
                      {% for course in student.courses.all %}
                          <p><a href="{% url 'courses:detail' course.id %}">{{  course.name  }}</a></p>
                      {% endfor %}
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body%}