{% extends "base.html" %}
{% block title %} Обучение Python - Редактирование Студента {{ course.name|title }}{% endblock %}
{% block body %}
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h2>Редактирование студента</h2>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить">
        </form>
    </div>
{% endblock body %}